<a href="/street?store={{store}}">
    <img id="categoryBackButton" style="height:60px; float:left; margin-top: 5px; margin-left: 5px;" src="/images/buttons/back.png"/>
</a>
<h2 style="z-index: -1; position: absolute; text-align: center; width: 100%; padding-top:20px; margin-left: -20px;">{{category}}</h2>


<br/>
<br/>

<div class="row word-container">
    {{#each subCategories}}
        {{#if this.imageFile}}
            <div class="col-sm-6 rectangle wide">
                <div class="option square" tabindex="1" onclick="select('{{../store}}/{{../category}}/{{@key}}');">
                    <span class="helper"></span>
                    <img class="option-image" src="{{this.imageFile}}">
                </div>
                <p class="label-text">{{subCatName}}</p>
            </div>
        {{/if}}
    {{/each}}
</div>

<!--{{#each subCategories}}-->
    <!--{{#if this.imageFile}}-->
        <!--<a href='/category/{{../category}}/{{@key}}'>-->
            <!--<img src="{{this.imageFile}}" style="height: 100px;"/>-->
        <!--</a>-->
    <!--{{/if}}-->
<!--{{/each}}-->

<script>
    const audio = new Audio();
    function select(subcategory) {
        if (!audio.paused){
            audio.pause();
        }
        audio.src = '/audio/categories/' + subcategory + '.mp3';

        audio.addEventListener("ended", function () {
            document.location.href = '/category/' + subcategory;
        });

        audio.play();
    }
</script>