<h2>This is the category page for {{category}}</h2>

<a href="/street?store={{store}}">Back to street</a>
<br/>
<br/>

<div class="row">
    {{#each subCategories}}
        {{#if this.imageFile}}
            <div class="col-sm-3 rectangle wide">
                <div class="option wide" id="top-left" onclick="select('{{../store}}/{{../category}}/{{@key}}');">
                    <span class="helper"></span>
                    <img class="option-image" src="{{this.imageFile}}">
                </div>
                <p class="label-text">{{subCatName}}</p>
            </div>
        {{/if}}
    {{/each}}
</div>

<!--{{#each subCategories}}-->
    <!--{{#if this.imageFile}}-->
        <!--<a href='/category/{{../category}}/{{@key}}'>-->
            <!--<img src="{{this.imageFile}}" style="height: 100px;"/>-->
        <!--</a>-->
    <!--{{/if}}-->
<!--{{/each}}-->

<script>
    function select(subcategory) {
        document.location.href = '/category/' + subcategory;
    }

</script>