<a href="/street">Back to street</a>

<p>stat 1: {{stat1}}</p>
<p>stat 2: {{stat2}}</p>
<p>
This is an email link:
<a 
href="mailto:{{accountEmail}}?subject=Brainy%20Words%202000%20Stats%20-%20{{userName}}&body=stat%201%20{{stat1}}%0Astat%202%20{{stat2}}" 
target="_top">Send Mail</a>
</p>