<a href="/street">
    <img style="height:30px; float:left; margin-top: 5px; margin-left: 5px;" src="/images/buttons/backButton.png"/>
</a>

<!--<a href="/street">Back to street</a>-->
<h2 style="z-index: -1; position: absolute; text-align: center; width: 100%;">Progress</h2>
<br style="clear: both;"/>
<p>stat 1: {{stat1}}</p>
<p>stat 2: {{stat2}}</p>
<p>
This is an email link:
<a 
href="mailto:{{accountEmail}}?subject=Brainy%20Words%202000%20Stats%20-%20{{userName}}&body=stat%201%20{{stat1}}%0Astat%202%20{{stat2}}" 
target="_top">Send Mail</a>
</p>