{{#if hasParentCategory}}
    <a href="./">
{{else}}
    <a href="/street?store={{categoryNum}}">
{{/if}}
<img style="height:30px; float:left; margin-top: 5px; margin-left: 5px;" src="/images/buttons/backButton.png"/>
</a>

{{#if hasParentCategory}}
<a href="/street?store={{categoryNum}}">
    <img style="height:30px; float:left; margin-top: 5px; margin-left: 5px;" src="/images/buttons/home.png"/>
</a>
{{/if}}

<h2 style="z-index: -1; position: absolute; text-align: center; width: 100%;">{{subCategory}}</h2>

<a href="./{{subCategory}}/quiz">
    <img style="height:30px; float:right; margin-top: 5px; margin-right: 5px;" src="/images/buttons/quizButton.png"/>
</a>

<br/>
<br/>

<div class="row word-container">
    {{#each words}}
        {{#if this.image}}
            <div class="col-sm-3 rectangle wide">
                <div class="option wide" onclick='playAudio("{{this.audio}}");'>
                    <span class="helper"></span>
                    <img class="option-image" src="{{this.image}}">
                </div>
                <p class="label-text">{{this.name}}</p>
            </div>
        {{/if}}
    {{/each}}
</div>


<!--{{#each words}}-->
    <!--{{#if this.image}}-->
        <!--<img src="{{this.image}}" style="height: 100px;" onclick="playAudio('{{this.audio}}')"/>-->
    <!--{{/if}}-->
<!--{{/each}}-->

<br>

<script>
    var audio = new Audio();
    function playAudio(soundLocation) {
        if (!audio.paused){
            audio.pause();
        }
        audio.src = soundLocation;
        audio.play();    
    }
</script>