<a href="/street/18/zoo">
    <img id="backButton" style="height:60px; float:left; margin-top: 20px; margin-left: 20px;" src="/images/buttons/back.png"/>
</a>
<h2 style="z-index: -1; position: absolute; text-align: center; width: 100%;">{{category}}</h2>

<a href="/street?store=18">
    <img id="homeButton" style="height:60px; float:left; margin-top: 20px; margin-left: 20px;" src="/images/buttons/home.png"/>
</a>



<a href="{{subCategory}}/quiz">
    <img id="quizButton" style="height:60px; float:right; margin-left: 20px; margin-top: 20px;" src="/images/buttons/quizButton.png"/>
</a>

<h2 id="subcategoryTitle" style="z-index: -1; position: absolute; text-align: center; width: 100%;">{{subCategory}}</h2>

<br/>
<br/>
<div id="spaceDiv"></div>

<div class="row word-container">
    {{#each words}}
        {{#if this.image}}
            <div class="col-sm-3 rectangle wide">
                <div class="option" tabindex="1" onclick='playAudio("{{this.audio}}");'>
                    <span class="helper"></span>
                    <img class="option-image" src="{{this.image}}">
                </div>
                <p class="label-text">{{this.name}}</p>
            </div>
        {{/if}}
    {{/each}}
</div>

<br>

<script>
    var audio = new Audio();
    function playAudio(soundLocation) {
        if (!audio.paused){
            audio.pause();
        }
        audio.src = soundLocation;
        audio.play();    
    }
</script>